[alias]
	apple-pick = !sh -c 'git rev-list --reverse "$@" | xargs -n1 git cherry-pick' -
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad [%an]\t%s%d\" --graph --date=short
	amend-to = "!f() { SHA=`git rev-parse \"$1\"`; git commit --fixup \"$SHA\" && GIT_SEQUENCE_EDITOR=true git rebase --interactive --autosquash \"$SHA^\"; }; f"
[grep]
	lineNumber = true
[merge]
  conflictstyle = diff3
[user]
	name = Dmitriy Yakovlev
	email = dyakovlev@aurora.tech
[fetch]
	prune = true
